.grid__advert {
  grid-area: advert;

  .advert {
    padding-top: 1rem;
    height: 180px;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .buttons {
    margin-top: 10px;

    .button-women {
      margin-left: 10px;
    }

    .button {
      padding: 6px;
      border: 1px solid black;
      color: black;
      border-radius: 4px;
      background-color: white;
      font-size: 1.1rem;

      &:hover {
        color: white;
        background-color: black;
        border: 1px solid rgb(173, 27, 27);
      }
    }
  }

}
