.sign-up-content {
  display: flex;
  justify-content: center;
  background-color: #dfe6e7;
  height: 90vh;

  .sign-up {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 5px 30px 20px 30px;
    box-shadow: 2px 3px 4px 5px #eee;
    border-radius: 8px;
    background-image: url("https://images.unsplash.com/photo-1434389677669-e08b4cac3105?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=949&q=80");
    background-size: cover;

    @media screen and(max-width: 742px) {
      width: 70%;
      margin: 120px auto 0 auto;
    }

    .title {
      margin: 10px 0;
      color: white;
    }

    .custom-button {
      // background-color: #cec78c;

      &:hover {
        background-color: white;
      }
    }
  }
}
