$box_shadow: 0px 3px 2px 3px #eee;
$tablet-breakpoint: "screen and (max-width: 768px)";
$desktop: "screen and (min-width : 768px)";

nav {
  grid-area: navbar;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;

  @media #{$tablet-breakpoint} {
    position: fixed;
  }

  .navBorder {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: $box_shadow;
  }

  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .searchExpand {
      display: none;

      @media #{$desktop} {
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;

        a {
          text-decoration: none;
          color: black;
          margin-left: 10px;
          font-size: 1.13rem;
          position: relative;

          &:hover {
            font-weight: 600;
          }
        }
      }
    }

    .logo {
      width: 100px;
      padding: 10px 0 0 4px;
      height: 60px;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .menuExpand {
      height: 40px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      width: 110px;
      cursor: pointer;

      span {
        height: 4px;
        display: inline-block;
        background-color: black;
        border-radius: 2px;
        width: 35%;
      }
    }
  }

  .mobileSearch {
    @media #{$tablet-breakpoint} {
      display: block;
    }

    @media #{$desktop} {
      display: none;
    }
  }
}
.scroll {
  background-color: rgb(245, 228, 228);
}
