$tablet-breakpoint: "screen and (max-width: 768px)";
$desktop: "screen and (min-width : 768px)";

.bm-overlay {
  z-index: 0 !important;
}

.bm-menu-wrap {
  width: 100% !important;
}

.bm-menu {
  padding: 2.5em 1em 0 !important;
}

.bm-item {
  align-items: center;
  margin-top: 20px;

  .menu-item {
    display: block !important;
  }

  .catogories {
    display: flex;
  }

  .content {
    margin-left: 10px;

    a {
      text-decoration: none;
      font-size: 1.123rem;
      color: white;
      cursor: pointer;
    }
  }

  .other-section {
    margin-top: 15px;
    margin-left: 25px;

    .section-expanded {
      display: flex !important;
      align-items: center;

      a {
        text-decoration: none;
        font-size: 1.123rem;
        color: white;
        cursor: pointer;
        margin-left: 5px;
      }
      &:nth-child(2) {
        margin-left: 25px;
        margin-top: 15px;
      }
    }
  }
}
.custom-button {
  width: 100%;
}

.bm-item-list {
  background-color: #373a47;
  width: 90%;

  .image {
    height: 100px;
    width: 100px;
    margin: 0 auto;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 22px;
  top: 22px;

  @media #{$desktop} {
    display: none;
  }

  @media #{$tablet-breakpoint} {
    display: block;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  width: 100%;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
