$tablet-breakpoint: "screen and (min-width : 768px)";
$mobile: "screen and (max-width : 454px)";

.collection-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  transition: transform 0.25s ease-out;
  height: 100%;
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
  }

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 350px;
    left: 34px;
    display: none;

    @media #{$mobile} {
      padding: 0;
      left: 20px;
    }
  }

  &:hover {
    .image {
      opacity: 0.8;
    }
    .custom-button {
      opacity: 0.85;
      display: block;
    }
  }

  .collection-footer {
    width: 88%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    @media #{$tablet-breakpoint} {
      width: 98%;
    }

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}
